html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.swiper-slide img {
  display: block;
  width: 80%;
  margin: 0px 0px 0px 0px;
  height: 100%;
  object-fit: cover;
  background: transparent;
}

.mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
