/* HEADER */

.home__header {
  text-align: center;
}
.home__header__nav--menu a {
  color: red;
  font-family: 'Play', sans-serif;
  transition: all 0.8s;
}
.home__header__nav--menu a:hover {
  color: rgb(72, 0, 255);
  font-size: 20px;

}

.home__header--box-logo {
  margin: 15px auto 30px;
  width: 180px;
}

.home__header--logo {
  width: 100%;
  border-radius: 50%;
  border: solid 1px var(--colorGris);
}

.home__header--bars {
  background-color: var(--colorGris);
  padding: 8px;
  margin: 0 auto 30px;
  display: inline-block;
  border-radius: 3px;
}

.home__header__nav--menu ul li {
  text-transform: uppercase;
  margin-bottom: 1px;
  padding: 8px 0;
}

.home__header__nav--menu ul li:last-child {
  margin-bottom: 0;
}

/* MAIN */

.home__main__section--banner {
  display: none;
}

.home__main__section--products {
  margin-top: 30px;
}

.home__main__section__article--box {
  position: relative;
}

.home__main__section__article--image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 219px 57px;
  border-bottom-right-radius: 221px 65px;
}

.home__main__section__article--sticker {
  position: absolute;
  top: 0;
  right: 10px;
}

.home__main__section__article--zoom {
  position: absolute;
  top: 98%;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  width: 30%;
  padding: 8px 0;
  text-align: center;
}

.home__main__section__article--title {
  margin: 30px 0px 0px 5px;
  font-weight: 900;
  font-size: 2rem;
  color: white;
}

.home__main__section__article--more {
  display: inline-block;
  padding: 5px;
  margin: -5px 19px;
  background-color: #1135bb;
  color: #e7f2f6;
  border-radius: 5px;
}

.home__main--whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

/* FOOTER */

.home__footer__nav--menu ul {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.home__footer__nav--menu ul li {
  background-color: var(--colorRojo);
  text-transform: capitalize;
  padding: 8px 0;
  text-align: center;
}

@media (min-width: 481px) {
  /* HEADER */

  .home__header--box-logo {
    width: 90px;
  }

  .home__header--bars {
    display: none;
  }

  .home__header__nav--menu ul {
    display: flex;
    justify-content: space-between;
    background: #2b2b2b;
  }

  .home__header__nav--menu ul li {
    width: 15%;
    font-size: 0.6rem;
    margin-bottom: 0;
  }

  /* MAIN */

  .home__main__section--banner {
    display: block;
    margin-top: 20px;
  }

  .home__main__section--banner img {
    width: 100%;
  }

  .home__main__section--products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .home__main__section__article {
    width: 49%;
  }
}

@media (min-width: 600px) {
  .home__header__nav--menu ul li {
    font-size: 0.8rem;
  }
}

@media (min-width: 1180px) {
  /* HEADER */

  .home__header--box-logo {
    width: 180px;
  }

  .home__header__nav--menu ul li {
    font-size: 1rem;
    height: 50px;
    padding: 11px 0px 0px 0px;
    margin: 12px 0px 13px 0px;
    /* border: solid 1px rgb(255 255 255 / 0%); */
    border-top-left-radius: 91px 73px;
    border-bottom-right-radius: 62px 65px;
    /* background: #1200ff82; */
    /* color: black; */
  }

  /* MAIN */
  .home__main__section__article--description {
    padding: 15px 0px 20px 0px;
    height: 120px;
    overflow: auto;
    color: #fff;
    /* background: #000000; */
    margin: 0px 0px 0px 5px;
    font-size: 18px;
  }
  .home__main__section__article--description::-webkit-scrollbar {
    width: 3px;
  }
  .home__main__section__article--description::-webkit-scrollbar-thumb {
    background: #ff9d00;
    border-radius: 5px;
  }

  .home__main__section__article {
    width: 32%;
    background: #000000a3;
    height: 535px;
    margin: 10px 0px 10px 0px;
    border-radius: 25px;
    border-top-left-radius: 219px 57px;
  }

  .home__main--whatsapp {
    right: 100px;
  }

  /* FOOTER */

  .home__footer {
    margin-top: 30px;
    padding: 60px 0;
    background-color: var(--colorRojo);
    display: flex;
    justify-content: center;
    border-radius: 30px 30px 0 0;
  }
  .home__footer__nav--menu ul {
    flex-direction: row;
  }

  .home__footer__nav--menu ul li {
    width: 110px;
    border-right: 1px solid #ffffff;
  }

  .home__footer__nav--menu ul li:last-child {
    border-right: none;
  }
}

@media (min-width: 1440px) {
  .home__main--whatsapp {
    right: 150px;
  }
}
