@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');/*  Play font */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); /*  Poppins font */
@import './normalize.css';
@import './general.css';
@import './animations.css';
@import './home.css';
@import './carousel_w3school.css';
@import './carousel_swiper.css';

/* TODO: sumar otras hojas de estilos */